@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-Regular.woff2') format('woff2'),
        url('PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

